* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #000;
}

body {
  overflow: hidden;
  min-width: 100vw;
  min-height: 100vh;
}

li {
  list-style: none;
}

.wrapper1 {
  position: absolute;
  top: 0;
  left: 0;
  min-height: 100vh;
  width: 100%;
}

/*------------------------ 2 Home ------------------------*/
.main {
  width: 100%;
  min-height: 100vh;
  position: relative;
}

.main:after {
  content: '';
  width: 100%;
  height: 100%;
  left: 0;
  z-index: -1;
  opacity: .85;
  position: absolute;
}

/*------------------------ 2.1 Full Menu ------------------------*/
.full-menu {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3;
  height: 100%;
  width: 100%;
  overflow: hidden;
  background-size: cover;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity 0.3s 0s, visibility 0s 0.3s;
  transition: opacity 0.3s 0s, visibility 0s 0.3s;
}

/* Full Menu */
.full-menu .modal-close {
  /* 'X' icon */
  position: absolute;
  z-index: 1;
  top: 0;
  right: 0;
  padding: 50px;
  height: 45px;
  width: 45px;
  border-radius: 50%;
  background: rgba(0, 0, 0, 0.3) url(../img/close.svg) no-repeat center center;
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  visibility: hidden;
  opacity: 0;
  -webkit-transform: scale(0);
          transform: scale(0);
  visibility: 0s 0.3s, opacity 0.3s 0s;
  -webkit-transition: visibility 0s 0.3s, opacity 0.3s 0s, -webkit-transform 0.3s 0s;
  transition: visibility 0s 0.3s, opacity 0.3s 0s, -webkit-transform 0.3s 0s;
  transition: transform 0.3s 0s, visibility 0s 0.3s, opacity 0.3s 0s;
  transition: transform 0.3s 0s, visibility 0s 0.3s, opacity 0.3s 0s, -webkit-transform 0.3s 0s;
}

.full-menu.visible {
  background-size: 100%;
  opacity: 1;
  visibility: visible;
  -webkit-transition: opacity 0.7s, visibility 0s;
  transition: opacity 0.7s, visibility 0s;
}

.full-menu.visible .fullmenu-content {
  -webkit-overflow-scrolling: touch;
}

.full-menu.visible .modal-close {
  visibility: visible;
  opacity: 1;
  -webkit-transition: visibility 0s 0s, opacity 0.3s 0s, -webkit-transform 0.3s 0s;
  transition: visibility 0s 0s, opacity 0.3s 0s, -webkit-transform 0.3s 0s;
  transition: transform 0.3s 0s, visibility 0s 0s, opacity 0.3s 0s;
  transition: transform 0.3s 0s, visibility 0s 0s, opacity 0.3s 0s, -webkit-transform 0.3s 0s;
  -webkit-transform: scale(1);
          transform: scale(1);
}

.cd-transition-layer {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  height: 100%;
  width: 100%;
  opacity: 0;
  visibility: hidden;
  overflow: hidden;
  -webkit-transition: 0.6s;
  transition: 0.6s;
}

.cd-transition-layer .bg-layer {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translateY(-50%) translateX(-2%);
  transform: translateY(-50%) translateX(-2%);
  height: 100%;
  /* our sprite is composed of 25 frames */
  width: 2500%;
  background: url(../img/ink.png) no-repeat 0 0;
  background-size: cover;
  -webkit-transition: 0.6s;
  transition: 0.6s;
}

.cd-transition-layer.visible {
  opacity: 1;
  visibility: visible;
}

.cd-transition-layer.opening .bg-layer {
  -webkit-animation: cd-sequence 1s steps(24);
          animation: cd-sequence 1s steps(24);
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.cd-transition-layer.closing .bg-layer {
  -webkit-animation: cd-sequence-reverse 1s steps(24);
          animation: cd-sequence-reverse 1s steps(24);
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.no-cssanimations .cd-transition-layer {
  display: none;
}

@-webkit-keyframes cd-sequence {
  0% {
    -webkit-transform: translateY(-50%) translateX(-2%);
            transform: translateY(-50%) translateX(-2%);
  }
  100% {
    -webkit-transform: translateY(-50%) translateX(-98%);
            transform: translateY(-50%) translateX(-98%);
  }
}

@keyframes cd-sequence {
  0% {
    -webkit-transform: translateY(-50%) translateX(-2%);
            transform: translateY(-50%) translateX(-2%);
  }
  100% {
    -webkit-transform: translateY(-50%) translateX(-98%);
            transform: translateY(-50%) translateX(-98%);
  }
}

@-webkit-keyframes cd-sequence-reverse {
  0% {
    -webkit-transform: translateY(-50%) translateX(-98%);
            transform: translateY(-50%) translateX(-98%);
  }
  100% {
    -webkit-transform: translateY(-50%) translateX(-2%);
            transform: translateY(-50%) translateX(-2%);
  }
}

@keyframes cd-sequence-reverse {
  0% {
    -webkit-transform: translateY(-50%) translateX(-98%);
            transform: translateY(-50%) translateX(-98%);
  }
  100% {
    -webkit-transform: translateY(-50%) translateX(-2%);
            transform: translateY(-50%) translateX(-2%);
  }
}

/*------------------------ 2.2 Header ------------------------*/
.nav-icon {
  width: 1.59722vw;
  height: 1.25vw;
  position: absolute;
  top: 2.56944vw;
  right: 5.55556vw;
  -webkit-transform: rotate(0deg) translateX(-50%);
          transform: rotate(0deg) translateX(-50%);
  -webkit-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
}

@media (max-width: 1024px) {
  .nav-icon {
    width: 6.13333vmin;
    height: 4.8vmin;
    top: 9.06667vmin;
    right: 10.66667vmin;
  }
}

.nav-icon span {
  display: block;
  position: absolute;
  height: 2px;
  width: 100%;
  background: #000;
  opacity: 1;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

.nav-icon span:nth-child(1) {
  top: 0px;
  -webkit-transform-origin: left center;
          transform-origin: left center;
}

.nav-icon span:nth-child(2) {
  top: 6px;
  -webkit-transform-origin: left center;
          transform-origin: left center;
}

.nav-icon span:nth-child(3) {
  top: 12px;
  -webkit-transform-origin: left center;
          transform-origin: left center;
  width: 60%;
  right: 0 !important;
}

.nav-icon:hover span:nth-child(3) {
  width: 100%;
}

.container {
  max-width: 88.88889vw;
  margin: 0 auto;
}

.wrapper {
  width: 100%;
  height: 100vh;
  font-family: Montserrat,sans-serif;
  font-size: 0.83333vw;
}

ul {
  list-style: none;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 1.38889vw;
  text-transform: uppercase;
  font-weight: 600;
}

@media (max-width: 1024px) {
  .nav {
    padding: 0 5.33333vmin;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-top: 5.33333vmin;
  }
}

.nav-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 6.94444vw;
}

@media (max-width: 1024px) {
  .nav-right {
    margin-right: 26.66667vmin;
  }
}

.logo {
  font-size: 2.77778vw;
}

@media (max-width: 1024px) {
  .logo {
    font-size: 6.93333vmin;
  }
}

@media (max-width: 1024px) {
  .menu-links {
    display: none;
  }
}

.menu-links ul li {
  display: inline-block;
  padding-right: 1.38889vw;
}

.menu-links ul li a {
  position: relative;
}

.menu-links ul li a:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 0.13889vw;
  background: #000;
  bottom: -0.34722vw;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  -webkit-transform: scale(0);
          transform: scale(0);
}

@media screen and (max-width: 1024) {
  .menu-links ul li a:before {
    height: 0.53333vmin;
    bottom: -1.33333vmin;
  }
}

.menu-links ul li a:hover:before {
  -webkit-transform: scale(1);
          transform: scale(1);
}

.search,
.cart {
  font-size: 1.38889vw;
  margin-left: 1.38889vw;
}

@media (max-width: 1024px) {
  .search,
  .cart {
    display: none;
  }
}

@media (max-width: 1024px) {
  .search, .account {
    display: none;
  }
}

.content {
  position: absolute;
  top: 55%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.title {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  font-size: 13.88889vw;
  text-transform: uppercase;
  font-weight: 700;
}

@media (max-width: 1024px) {
  .title {
    font-size: 16vmin;
  }
}

.tagline {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  font-size: 2.08333vw;
  color: #999;
}

@media screen and (max-width: 1024) {
  .tagline {
    font-size: 8vmin;
  }
}

.pages {
  -webkit-box-flex: 0;
      -ms-flex: 0;
          flex: 0;
  letter-spacing: 0.03472vw;
  color: #999;
}

@media (max-width: 1024px) {
  .pages {
    letter-spacing: 0.13333vmin;
  }
}

.pages span {
  font-size: 4.16667vw;
  color: #000;
  font-weight: 600;
}

@media (max-width: 1024px) {
  .pages span {
    font-size: 10.66667vmin;
  }
}

.more {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  cursor: pointer;
}

.more a {
  text-decoration: none;
  font-size: 1.38889vw;
  color: #fff;
  background: #000;
  padding: 0.69444vw 2.08333vw;
  border-radius: 0.69444vw;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

@media screen and (max-width: 1024) {
  .more a {
    font-size: 5.33333vmin;
    padding: 2.66667vmin 8vmin;
    border-radius: 2.66667vmin;
  }
}

.more a:hover {
  background: #fe9b34;
}

.desc {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 32%;
          flex: 0 0 32%;
}

.desc p:nth-child(1) {
  font-size: 2.08333vw;
  margin-bottom: 1.38889vw;
}

@media screen and (max-width: 1024) {
  .desc p:nth-child(1) {
    font-size: 8vmin;
    margin-bottom: 5.33333vmin;
  }
}

.desc p:nth-child(2) {
  line-height: 2;
}

.desc span {
  color: #aecd31;
}

.juice {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 0;
}

.juice img {
  max-height: 34.72222vw;
  min-height: 34.72222vw;
  max-width: 100%;
  -webkit-animation: float 4s ease-in-out infinite;
          animation: float 4s ease-in-out infinite;
}

@media (max-width: 1024px) {
  .juice img {
    min-height: 80vmin;
  }
}

@-webkit-keyframes float {
  0% {
    -webkit-transform: translate(-50%, -46%);
            transform: translate(-50%, -46%);
  }
  50% {
    -webkit-transform: translate(-50%, -54%);
            transform: translate(-50%, -54%);
  }
  100% {
    -webkit-transform: translate(-50%, -46%);
            transform: translate(-50%, -46%);
  }
}

@keyframes float {
  0% {
    -webkit-transform: translate(-50%, -46%);
            transform: translate(-50%, -46%);
  }
  50% {
    -webkit-transform: translate(-50%, -54%);
            transform: translate(-50%, -54%);
  }
  100% {
    -webkit-transform: translate(-50%, -46%);
            transform: translate(-50%, -46%);
  }
}

.leaves {
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 50%;
  left: 50%;
}

.leaves img {
  max-width: 100%;
  max-height: 10.41667vw;
  min-height: 6.94444vw;
  -o-object-fit: contain;
     object-fit: contain;
}

@media (max-width: 1024px) {
  .leaves img {
    min-height: 16vmin;
  }
}

.leaves .layer {
  position: absolute;
}

.leaves .layer:nth-child(1) {
  top: -6.94444vw !important;
  left: -33.33333vw !important;
}

@media (max-width: 1024px) {
  .leaves .layer:nth-child(1) {
    top: -26.66667vmin !important;
    left: -48vmin !important;
  }
}

.leaves .layer:nth-child(2) {
  top: 0.69444vw !important;
  left: 11.11111vw !important;
}

@media (max-width: 1024px) {
  .leaves .layer:nth-child(2) {
    top: 4vmin !important;
    left: 26.66667vmin !important;
  }
}

.leaves .layer:nth-child(3) {
  top: -20.83333vw !important;
  left: 11.11111vw !important;
  z-index: -1;
}

@media (max-width: 1024px) {
  .leaves .layer:nth-child(3) {
    top: -40vmin !important;
    left: 16vmin !important;
  }
}

.leaves .layer:nth-child(4) {
  top: -10px !important;
  left: 22.22222vw !important;
}

.leaves .layer:nth-child(5) {
  top: 13.88889vw !important;
  left: -22.22222vw !important;
}

.arrows button {
  border: 0.10px solid #999;
  background: transparent;
  border-radius: 50%;
  outline: none;
  width: 3.47222vw;
  height: 3.47222vw;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  cursor: pointer;
  text-align: center;
  padding-top: 0.40px;
}

.arrows button:hover {
  color: #fff;
  background-color: #000;
}

.arrows .prev {
  position: absolute;
  top: 50%;
  left: 6.94444vw;
}

@media screen and (max-width: 1024) {
  .arrows .prev {
    left: 26.66667vmin;
  }
}

.arrows .next {
  position: absolute;
  top: 50%;
  right: 6.94444vw;
}

@media screen and (max-width: 1024) {
  .arrows .next {
    right: 26.66667vmin;
  }
}

@media (max-width: 1024px) {
  .arrows {
    display: none;
  }
}

.arrows i {
  width: 0.69444vw;
  height: 0.90278vw;
}
/*# sourceMappingURL=index.css.map */